<div class="footerWrapper">Copyright © [2024] All rights reserved.
    <!-- <div class="contact-info">
        <p class="contact-item"> info@RossiSportCompany.com</p>
        <p class="contact-item">Via Brombeis 44, Napoli(NA), 80121</p>
        <p class="contact-item">+39 333 666 999</p>
      </div> -->
</div>

<!-- <footer id="contactFooter" class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">
          <img src="assets/logo.png" class="navbar-logo">
      </span>
    </div>

    <div class="contact-info">
      <p class="contact-item">pinopane@gmail.com</p>
      <p class="contact-item">Via Brombeis 44, Napoli(NA), 80121</p>
      <p class="contact-item">+39 333 666 999</p>
    </div>

    <div class="social-buttons">
      <a href="#" class="social-button social-button--facebook" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
     
      <a href="#" class="social-button social-button--instagram" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>      
  </footer> -->