.color-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .color-checkbox input {
    display: none;
  }
  
  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Rendi la checkbox rotonda */
    background-color: #fff;
    margin-right: 10px;
  }
  
  .pink .checkmark {
    background-color: #FFE6E6;
    /* border: 2px solid #47ff50; */
  }
  
  .purple .checkmark {
    background-color: #E1AFD1
  }
  
  .violet .checkmark {
    background-color: #AD88C6
  }
  
  .dark-purple .checkmark {
    background-color: #7469B6
  }
  
  
  .color-checkbox .checkmark:after {
    content: "";
    position: absolute;
    left: 5px; /* Riduci la posizione del cerchio nero */
    top: 5px; /* Riduci la posizione del cerchio nero */
    width: 10px; /* Riduci la dimensione del cerchio nero */
    height: 10px; /* Riduci la dimensione del cerchio nero */
    border-radius: 50%; /* Rendi il cerchio nero rotondo */
    background-color: black;
    opacity: 0; /* Nascondi il cerchio nero di default */
    transition: opacity 0.3s ease; /* Aggiungi una transizione per una migliore esperienza utente */
  }
  
  .color-checkbox input:checked + .checkmark:after {
    opacity: 1; /* Mostra il cerchio nero quando la checkbox è selezionata */
  }
  
  