<form class="login-form"
[formGroup]="loginForm"
    id="login"
>
  <span class="login-title">Sign In</span>

    <input
      type="text"
      class="input-field"
      placeholder="Enter email"
      formControlName="email"
    />

   <input
      matInput
      type="password"
      class="input-field"
      placeholder="Enter Password"
      formControlName="password"
    />


  <div class="action-btn">
    <button type="submit" mat-raised-button color="primary" (click)="signIn()">Login</button>
    <button type="submit" mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
  </div>
</form>


<!-- <div class="input-group">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="signIn()"
    id="login"
    class="input-group"
  >
    <input
      type="text"
      class="input-field"
      placeholder="Enter email"
      formControlName="email"
    />
    <input
      type="password"
      class="input-field"
      placeholder="Enter Password"
      formControlName="password"
    />
  </form> -->
