<nav class="sidebar" [class.active]="isActive">
  <ul>
    <button (click)="closeNav()"></button>
    <li><a routerLink="/gestionale/prodotti">Prodotti</a></li>
    <li><a routerLink="/report">Report</a></li>
    <li><a routerLink="/impostazioni">Impostazioni</a></li>
    <li><a routerLink="/ordini">Ordini</a></li>
    <li class="theme-toggle">
        <a href="#" (click)="toggleTheme('light')" *ngIf="isDarkTheme"><i class="far fa-sun"></i></a>
        <a href="#" (click)="toggleTheme('dark')" *ngIf="!isDarkTheme"><i class="far fa-moon"></i></a>
    </li>
  </ul>
</nav>
