<div class="headercaccaWrapper">
  <app-header />
</div>

<div class="ciccio">
  <!-- <img src="/assets/fff.jpg" /> -->

  <!-- <div class="content-container"> -->
    <div class="carousel">
      <div class="carousel-images">
        <img src="assets/art.jpg" alt="Immagine 1" class="carousel-image">
        <img src="assets/il.jpg" alt="Immagine 2" class="carousel-image">
        <img src="assets/nike.jpg" alt="Immagine 3" class="carousel-image">

      </div>
    <!-- </div>  -->

<div class="siteFooterWrapper">
  <div class="footerWrapper">
    <app-footer />
  </div>
</div>
