:host{
  display: flex;
  justify-content: center;
  
}

.BUBU {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
}

.round-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  /* personalizza a tuo piacimento */
  color: black;
}

.round-checkbox input {
  display: none;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 16px;
  height:16px;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 10px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.round-checkbox input:checked+.checkmark {
  background-color: black;
  /* Cambia il colore di sfondo quando la checkbox è selezionata */
  border-color: black;
  /* Cambia il colore del bordo quando la checkbox è selezionata */
}

.round-checkbox .checkmark:after {
  left: 7px;
  /* regola la posizione del segno di spunta */
  top: 3px;
  /* regola la posizione del segno di spunta */
  width: 6px;
  /* regola la dimensione del segno di spunta */
  height: 12px;
  /* regola la dimensione del segno di spunta */
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  /* ruota il segno di spunta di 45 gradi */
}